/* tafeld/resources/css/ui/debug-suggest-select.css */

@layer utilities {

    /* .debug-suggest-select:hover {
        @apply border-brand;
    }

    .debug-suggest-select:focus {
        outline: none;
    } */


    /* --- DEBUG SUGGEST SELECT MARK --- */
    /* .debug-suggest-select-option mark {
        background-color: rgb(var(--color-highlight, 255 235 59 / 0.85));
        color: rgb(var(--color-text-highlight, 0 0 0));
        padding: 0 2px;
        border-radius: 2px;
    } */

    /* .debug-suggest-select-option mark {
        background: rgb(var(--color-highlight));
        color: rgb(var(--color-highlight-text));
        padding: 0 2px;
        border-radius: 2px;
    } */


}