/* tafeld/resources/css/ui/toggle-switch.css */

@layer components {

    /* ===========================================
       SWITCH – WRAPPER & BASE
       =========================================== */
    .toggle-switch {
        @apply w-16 h-8 rounded-full transition bg-surface border border-default hover:bg-slate-100 hover:border-default relative;
    }

    .toggle-switch-disabled {
        @apply opacity-40 cursor-not-allowed;
    }

    /* ===========================================
       SWITCH – KNOB
       =========================================== */
    .toggle-switch-knob {
        @apply absolute top-0.5 left-0.5 w-[26px] h-[26px] rounded-full bg-card shadow transition-all;
    }

    .peer:checked+.toggle-switch .toggle-switch-knob {
        @apply translate-x-8 border border-green-400 bg-green-600;
        box-shadow: inset 0 0 5px rgb(74 222 128 / var(--tw-border-opacity, 1));
        /* box-shadow:
            inset 0 0 4px rgba(255, 255, 255, 0.35),
            0 0 6px rgba(0, 255, 0, 0.25); */
        /* box-shadow:
            inset 0 0 6px rgba(255, 255, 255, 0.25),
            inset 0 2px 3px rgba(0, 0, 0, 0.25),
            0 0 6px rgba(0, 255, 0, 0.25); */
    }

    /* ===========================================
       SWITCH – CHECKED / UNCHECKED
       =========================================== */
    .peer:checked+.toggle-switch {
        @apply bg-brand border-brand;
    }

    /* ===========================================
       SWITCH – ICONS (✓ / ✕)
       =========================================== */
    .toggle-switch-icon {
        @apply absolute inset-0 flex items-center justify-center text-default text-sm font-bold hover:text-gray-900 transition;
    }

    /* CHECK (an) */
    .toggle-switch-icon-check {
        @apply opacity-0 text-green-300;
    }

    .peer:checked+.toggle-switch .toggle-switch-icon-check {
        @apply opacity-100;
    }

    /* CROSS (aus) */
    .toggle-switch-icon-cross {
        @apply opacity-100 text-red-500;
    }

    .peer:checked+.toggle-switch .toggle-switch-icon-cross {
        @apply opacity-0;
    }
}